*.asv
*.Rproj.user
*.Rapp.history
*.Rhistory
*.pdf
.Rproj.user
*.cpr
*.mat
*.crc
*.zip

# Files with data downloaded from OSF
*.csv
"Texture_methods_comparison/Data Files/*"
"Texture_methods_comparison/*.png"
Raman_data/*
